
'context-menu':
  'atom-workspace': [{label: 'duplicateAndComment', command: 'duplicate-and-comment:duplicateAndComment'}]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'duplicate-and-comment'
      'submenu': [
        { 'label': 'duplicate-and-comment', 'command': 'duplicate-and-comment:duplicateAndComment' }
      ]
    ]
  }
]
